<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>


</head>

<body>

    <h1>Liste des films</h1>

    <form action="get">
        <input class="champ" type="text" value="Search..." />
        <button type="submit"><i class="fas fa-search"></i></button>
    </form>

    <script src="https://kit.fontawesome.com/5b227c869a.js" crossorigin="anonymous"></script>
</body>

</html>